
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
}


.shadow {
  text-shadow: 1px 1px #800000;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
    max-width: 1200px;

}


header {
    display: flex;
    gap: 20px;
    border-bottom: 3px solid #931420;
    padding: 1.5em 0 2em 0;
    background-image: linear-gradient(#f6bb73, white);
}

header img {
    padding: 1em;
}

header h2 {
    font-size: 170%;
    color: #800000;
    padding-left: 30px;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    padding-left: 30px;
}

main {
    padding: 1em;
    display: flex;
}

main aside {
    width: 25%;
}

main section {
    width: 70%;
    float: left;
    padding: 2%;
}
main h1 {
    font-size: 150%;
    padding: .3em 0;
   
}

main article {
     border-bottom: 3px solid #931420;
    border-top: 3px solid #931420;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding: .5em 0 .25em 0;
}

main h3{
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    padding: 0 2em;
    font-style: italic;
}

main ul {
    padding: 0 0 .25em 1.25em;
}

main li {
    padding-bottom: .35em;
}

a:hover,
a:focus {
  font-style: italic;
}

footer {
    text-align: center;
    background-color: #931420;
}

footer p {
    color: white;
    padding: 1em 0;
}

#nav_menu {
    border-bottom: 3px solid #800000;
    background-color:#800000;
}

#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: #800000;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu a:hover {
    color: yellow;
}

#mobilemenu {
    display: none;
}

/* ***************
Media Queries
********************** */
@media only screen and (max-width: 900px) {
    body {
        box-shadow: none;
        font-size: 90%;
    }
}

@media only screen and (max-width: 767px) {
     main {
        flex-direction: column;
        align-items:center ;
    }
    section, aside {
        max-width: 95%;
    }
    #nav_menu {
        display: none;
    }
    #mobilemenu {
        display: block;
    }
    .slicknav_menu {
        background-color: #800000;
    }
    h1 {
        font-size: 200%;
    }
}

@media only screen and (max-width: 479px) {
    header {
        flex-direction: column;
    }
    
}
